<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mepsage</title>
    <script type="text/javascript" src="../static/underscore.js"></script>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script>
        $(load);
    </script>
</head>
<body>
    <div id="wrapper">
        <h1>What</h1>
        <p>Mepsage (message page) is a full page message container.</p>
        <p><a href="/">Go here</a>, type in a message then press enter.
        You share can the url to whoever to message is targeted to.</p>

        <h1>What for</h1>
        <p>The full page messages could be used to censor spoilers.
        They also could be used to put emphasis on
        the message being delivered.<p>

        {{if .Messages}}
            <h1>Recent messages</h1>
            <ul>
            {{range .Messages}}
            <li>
                [<a href="{{.Id}}">{{.Id}}</a>]
                <span>{{.Text}}</span>
            </li>
            {{end}}
        {{end}}
        </ul>
    </div>
</body>
</html>
